*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.head{
    width: 100%;
    height: 190px;
    color: white;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/donation4.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom:10px;
}
.head-nav{
    display: flex;
    width: 100%;
}
.our-donate-icon{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: left;
    text-align: left;
}
.our-donate-icon img{
    width: 15px;
    height: 25px;
    margin-left: 20px;
    margin-top:-2px;
    border-radius: 2px;
}
.our-donate-icon h6{
    margin-top: 5px;
    color: white;
    margin-left: 5px;
}
.navbar{
    display: flex;
    width: 100%;
    height: 50px;

}
.navbar ul{
    text-align: right;
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px ;
}
.navbar ul li{
    padding: 5px 10px;
    font-size: 8px;
    text-decoration: none;
}
.navbar ul li h4{
    text-decoration: none;
    font-size: 6px;
    margin-top: 2px;
    font-weight: 100;
}
.middle-part{
    text-align: center;
}
.middle-part h1{
    font-size: 15px;
}
.middle-part p{
    font-size: 5px;
    padding-top: 5px;
    color: rgb(219, 219, 219);
}
button{
    background-color: rgb(238, 38, 24,.8);
    border: none;
    border-radius: 2px;
    
}
button h6{
    padding: 3px;
    color: white;
    font-size: 6px;
    font-weight: 500;
    text-align: center;

}
.document{
    text-align: center;
    margin-bottom: 12px;
}
.middle-1 h6{
    font-size: 12px;
}
.middle-1 p{
    font-size: 5px;
    padding-top: 8px;
    color: rgb(74, 74, 74);
}
.donation-amount ul{
    display: flex;
    margin-left: 60px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 25px;
}
.donation-amount ul li{
    margin-left: 8px;
    font-size: 10px;
    padding: 10px 10px;
    background-color: rgb(184, 184, 184);
    border-radius: 2px;
}
.donation-amount ul li:nth-child(2) {
    background: rgb(250, 184, 215);
    color: rgb(239, 55, 129);
    border: .5px solid rgb(255, 0, 144);
}
.input-part{
    text-align: center;
    border-bottom: .5px solid gray;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 70px;
}
input{
    border: none;
    font-size: 8px;
    font-weight: 300;
}
.btn{
    color: white;
    font-size: 10px;
    padding: 4px 8px;
    background-color: rgb(238, 38, 24,.8);
    border-radius: 8px;
    border: none;
    text-align: center;
    width: 50px;
    margin-left: 160px;
    margin-bottom: 20px;
}
.btn h5{
    font-weight: 300;
}
.our-plan{
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}
.first-plan{
    background-color: rgb(171, 174, 172);
    margin-left: 10px;
    padding: 10px;
    border-radius: 2px;
}
.second-icon{
    background-color: rgb(195, 230, 203);
}
.third-icon{
    background-color: rgb(243, 218, 185);
}
.first-plan img{
    width: 15px;
    height: 15px;
}
.first-plan h4{
    font-size:8px;
}
.first-plan p{
    font-size: 5px;
}
.our-prove{
    display: flex;
    width: 100%;
    height: 160px;
    background-color: rgb(236, 236, 236);
    margin-bottom: 20px;
}
.img-part1 img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 30px;
}
.writing-part{
    width: 200px;
    height: 100px;
    background-color: rgb(127, 204, 120);
    margin-left: 30px;
    margin-top: 30px;
}
.write{
    margin-top: 20px;
    margin-left: 30px;
}
.write h3{
    font-size: 10px;
    padding-bottom: 5px;
}
.write p{
    font-size: 5px;
}
.join{
    background-color: brown;
    font-size: 9px;
    width: 30px;
    margin-top: 5px;
    padding: 4px;
    border-radius: 4px;

}
.join p{
    color: white;
    font-weight: 700;
}
.document{
    text-align: center;
}
.document h2{
    font-size: 10px;
    margin-bottom: 5px;
}
.document h5{
    font-size: 4px;
    font-weight: 100;
    color: rgb(71, 71, 71);
}
.your-email{
    width: 250px;
    height: 60px;
    background-color: rgb(238, 170, 193);
    display: flex;
    margin-left: 65px;
    margin-bottom: 20px;
}
.input-part1{
    margin-top: 15px;
    margin-left: 80px;
}
.input-part1 input{
    font-size: 6px;
    border: .5px solid rgb(59, 59, 59);

}
.subscribe{
  margin-top: 24px;
  background-color: brown;
  height: 5px;
  padding: 2px;

}
.subscribe h5{
    font-size: 5px;
    color: white;
}
footer{
    width: 100%;
    height: 50px;
    background-color: black;
}
.last{
    color: white;
    text-align: center;
    padding-top: 15px;
}
.last h4{
    font-size: 6px;
}
.last p{
    font-size: 4px;
    padding-top: 5px;
    color: rgb(232, 232, 232);
}